<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>

<body>
  <!-- Navbar Component -->
  <%- include('partials/navbar') %>

    <main>
      <!-- เนื้อหาจะแสดงตามไฟล์ที่ถูกส่งจาก route -->
      <%- include(body) %> <!-- ใช้ชื่อไฟล์ที่ส่งจาก route เช่น 'about' -->
    </main>.

    <!-- Footer Component -->
    <%- include('partials/footer') %>
</body>

</html>